.work-inner{
    background-color: var(--sp-white);
    /* padding: 0 60px; */
}
.work-inner-in{
    padding: 0 60px;
    background-color: var(--theme-bg);
    /* max-width: 1440px;
    margin: 0 auto; */
}
.theme-color-title,
.theme-color-title h2 {
  color: var(--theme-title);
}

.theme-color-para {
  color: var(--theme-para);
}




/* ----- Theme Font Color Based On Work ----- */
:root{
    --pioneer-color: #ED5A04;
    --pioneer-bg-color: #FFFCF0;

    --jurassicFruit-color: #1a1a1a;
    --jurassicFruit-bg-color: #F9F5F0;
}



/* Styles Used In Multiple Components */
#pioneer .work-component-title h2,
#pioneer .work-c14__heading,
#pioneer .work-c7__title {
  color: var(--pioneer-color);
}
#pioneer .work-c14__content p{
    color: #111111;
}
.work-c10__quote-icon svg{
    fill: var(--theme-title);
}


#jurassic-fruit .work-component-title h2,
#jurassic-fruit .work-c14__heading{
  color: var(--jurassicFruit-color);
}
#jurassic-fruit .work-c14__content p{
    color: #111111;
}
#jurassic-fruit .work-c7{
    background-color: #1A1A1A;
}
#jurassic-fruit .work-c7__title {
  color: #CBC69E;
}
/* #jurassic-fruit .work-c7__intro p, */
#jurassic-fruit .work-c7__block-content p {
  color: #B2B2B2;
}
#jurassic-fruit .work-c7__block-content .is-bold {
  color: #ffffff;
}




.not-full-width{
    width: 100%;
    max-width: 80.56%;
}

.work-c3,
.work-c4,
.work-c7,
.work-c8,
.work-c10,
.work-c11,
.work-c13,
.work-c14{
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-component-title{
    max-width: 51ch;
}


/* ------ C2 - Component ------ */
.work-c2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-c2__image{
    height: auto;
}


/* ------ C3 - Component ------ */
.work-c3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-col-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}


/* ------ C4 - Component ------ */
.three-col-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}


/* ------ C5 - Component ------ */
.work-c5 {
  width: 100%;
  background-color: var(--component-bg);
}

.work-c5__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

.work-c5__left,
.work-c5__right {
  width: 100%;
  overflow: hidden;
}

.work-c5__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* ------ C7 - Component ------ */
.work-c7__container {
  padding: 60px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
  box-sizing: border-box;
}

.work-c7__content {
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.work-c7_top-head{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.work-c7__title {
    font: 300 38px var(--newsreader);
    font-style: Italic;
    line-height: 90%;
    letter-spacing: -4%;
    text-transform: capitalize;
}

.work-c7__intro {
  max-width: 51.5ch;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.work-c7__intro p {
    font: 400 18px var(--font-aspekta);
    line-height: 150%;
}

.work-c7__intro p:last-child {
  margin-bottom: 0;
}

.work-c7__blocks {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.work-c7__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.work-c7__block-title {
    display: flex;
    align-items: center;
    gap: 7px;
    font: 600 18px var(--font-aspekta);
    line-height: 97%;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.work-c7__block-icon {
  width: 8px;
  height: 10px;
  display: inline-block;
  flex: 0 0 auto;
  border-radius: 50% 50% 45% 45%;
  background: currentColor;
}


.work-c7__block-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.work-c7__block-content p {
    font: 400 18px 97%;
    line-height: 150%;
}

.work-c7__block-content .is-bold {
  font-weight: 700;
}


.work-c7__image {
  width: 100%;
}

.work-c7__image picture,
.work-c7__image img {
  display: block;
  width: 100%;
}

.work-c7__image img {
  height: auto;
  object-fit: contain;
}





/* ------ C8 - Component ------ */
/* .work-c8{
    background-color: #FFFCF0;
} */

.work-c8__container {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    align-items: start;
    width: 100%;
}

.work-c8__info{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-c8__title h2 {
    margin: 0;
    font-size: 48px;
    line-height: 90%;
    font-weight: 300;
    font-style: italic;
    letter-spacing: -4%;
}
.work-c8__description .work-c8__heading {
    font: 600 24px var(--font-aspekta);
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #111111;
}

.work-c8__info-block{
  display: flex;
  flex-direction: column;
  /* gap: 6px; */
}

.work-c8__info-description {
    max-width: 59ch;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.work-c8__description{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.work-c8__description p {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    /* color: #535353; */
}

.work-c8__info-title{
  font: 600 18px var(--font-aspekta);
  line-height: 150%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #111111;
}

.work-c8__stats{
  display: flex;
  /* flex-direction: column; */
  gap: 100px;
}

.work-c8__stats-group{
  display: flex;
  flex-direction: column;
}

.work-c8__stats-block{
    display: flex;
    /* flex-direction: column; */
    gap: 5px;
    align-items: end;
}

.work-c8__stats-value{
    font: 300 64px PP Eiko;
    font-style: italic;
    line-height: 90%;
    letter-spacing: -4%;
    color: var(--theme-title);
}

.work-c8__stats-unit{
    font: 400 50px var(--font-aspekta);
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--theme-title);
}

.work-c8__stats-description {
    font: 400 18px var(--font-aspekta);
    line-height: 103%;
}




/* ------ C10 - Component ------ */
.work-c10__content {
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.work-c10__sub-text {
    font: 600 18px var(--font-aspekta);
    line-height: 150%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: var(--theme-title);
}

.work-c10__quote-icon {
  width: 20px;
  height: auto;
  margin: 0 auto;
}

.work-c10__heading {
    font: 300 48px var(--newsreader);
    font-style: Italic;
    line-height: 110.00000000000001%;
    letter-spacing: -4%;
    text-align: center;
    text-transform: capitalize;
    color: #111111;
    max-width: 32ch;
    margin: 0 auto;
}

.work-c10__paragraph {
    font: 400 18px var(--font-aspekta);
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    color: #535353;
}

.work-c10__paragraph.narrow_paragraph{
    max-width: 57ch;
    margin: 0 auto;
}
.work-c10__paragraph.wide_paragraph{
    max-width: 84ch;
    margin: 0 auto;
}






.work-c11 {
  width: 100%;
}

.work-c11__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

.work-c11__left {
  width: 100%;
  overflow: hidden;
}

.work-c11__right {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.work-c11__right-block {
  width: 100%;
  min-height: 0;
  overflow: hidden;
}

.work-c11__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* ------ C13 - Component ------ */
/* .work-c13 {
  width: 100%;
  background-color: var(--component-bg);
} */

.work-c13__description {
  padding: 100px 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 36px;
}

.work-c13__description p {
  margin: 0;
  font: 400 32px var(--font-aspekta);
  line-height: 150%;
  color: #111111;
  max-width: 57ch;
}


/* ------ C14 - Component ------ */
.work-c14 {
  background-color: var(--work-bg-color);
}
.work-c14__container {
  width: 100%;
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(
    var(--c14-columns),
    minmax(0, 1fr)
  );
  gap: 50px;
  box-sizing: border-box;
}

.work-c14__column {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.work-c14__heading {
    font: 600 14px var(--font-aspekta);
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.work-c14__content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.work-c14__content p {
    font: 400 18px var(--font-aspekta);
    line-height: 103%;
}

.work-c14__content p:last-child {
  margin-bottom: 0;
}

.work-c14__stats-group{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.work-c14__stats-value{
    font: 300 48px PP Eiko;
    font-weight: 300;
    font-style: italic;
    line-height: 90%;
    letter-spacing: -4%;
}

.work-c14__stats-unit{
    font: 400 40px var(--font-aspekta);
    line-height: 100%;
    letter-spacing: -1%;
}



/* ---- OWN STORY ------ */
.own-story {
  background-color: var(--sp-red);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sp-white);
}

.own-story-in {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.own-story-head{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.own-story-in h2 {
  max-width: 15ch;
  font: 300 64px var(--newsreader);
  font-style: italic;
  line-height: 110.00000000000001%;
  letter-spacing: -4%;
  text-transform: capitalize;
}

.own-story-in p {
  font-size: 20px;
  max-width: 40ch;
}