:root {
  --sp-red: #d8031d;
  --sp-black: #111111;
  --sp-white: #ffffff;
  --bg-grey: #fafafa;
  --bg-red: #ba0319;
  --stroke-red: #ff7b8b;
  --stroke-grey: #dedede;
  --sub-text: #6a6a6a;
  --border: rgba(0, 0, 0, 0.08);
  --body-font: var(--font-aspekta), Arial, Helvetica, sans-serif;
  --heading-font: "Newsreader", Georgia, serif;
  --newsreader: "Newsreader", Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed;
    --muted: #a1a1aa;
    --border: rgba(255, 255, 255, 0.145); */
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: var(--body-font);
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--newsreader);
  margin: 0;
  padding: 0;
  color: #fff;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 300;
  text-transform: capitalize;
  font-style: italic;
}

h1 {
  font-size: clamp(48px, 6.5vw, 112px);
  letter-spacing: -0.02em;
  line-height: 90%;
  font-weight: 300;
}

h2 {
  font-size: clamp(32px, 4.5vw, 64px);
}

h3 {
  font-size: 80px;
}

h4 {
  font-size: 64px;
}

h5 {
  font-size: 56px;
}

h6 {
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

p.bold {
  font-weight: 700;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

li {
  color: #fff;
}

.custom-btn {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--sp-black);
  padding: 14px 24px;
  background-color: #ffffff;
  transition: .4s ease all;
  border: 1px solid #fff;
  width: fit-content;
  outline: none;
}

.custom-btn:hover {
  background-color: var(--sp-red);
  color: #fff;
}

.custom-btn:hover::after {
  filter: brightness(0) invert(1);
}

.custom-btn::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.878125 11.6667L0 10.7885L9.53854 1.25H3.75V0H11.6667V7.91667H10.4167V2.12813L0.878125 11.6667Z' fill='%231C1B1F'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

.custom-cta-link {
  font-family: var(--font-aspekta);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  text-decoration: none;
}

.custom-cta-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(1);
  transform-origin: left;
}

.custom-cta-link:hover::after {
  animation: underline-slide 0.45s ease forwards;
}

@keyframes underline-slide {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.list-wrap ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
}

.list-wrap li {
  list-style: none;
  position: relative;
  font-size: 24px;
}

.list-wrap li::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 25px;
  background-color: #fff;
  position: absolute;
  top: 13px;
  left: -22px;
}

.container {
  max-width: 1600px;
  padding: 0px 60px;
  margin: 0 auto;
  width: 100%;
  /* overflow: hidden; */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon {
  height: auto;
  width: 100%;
}

.gap-left {
    max-width: 1250px;
    margin-left: auto;
    padding: 0 0 0 48px;
}

.right_side_line{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 32px;
  width: 1px;
  background: #ff7b8b;
  z-index: 9;
}

@media screen and (max-width: 1100px) {
  .list-wrap li {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {
  .list-wrap li {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .list-wrap li {
    font-size: 14px;
  }

  .list-wrap li:before {
    width: 6px;
    height: 6px;
    top: 8px;
    left: -15px;
  }

  .container {
    padding: 0px 20px;
  }

  .custom-btn {
    font-size: 12px;
    padding: 10px 15px;
  }
}